---
import BaseLayout from '../layout/BaseLayout.astro';
import { Image } from 'astro:assets';
import Logo from '../assets/logo.png';
import SkewContainer from '../components/SkewContainer.astro';

const pageTitle = 'Lobby Archive';
---

<BaseLayout title={pageTitle}>
  <span class='bg-overlay w-full h-screen fixed -z-50'></span>
  <section class='flex flex-col items-center w-full h-screen pt-32'>
    <Image
      transition:name='logo'
      src={Logo}
      alt={'lobby archive'}
      class='mb-4'
      loading={'eager'}
    />
    <SkewContainer className='text-container md:text-2xl'>
      <h1>View your student's memorial lobby!</h1>
    </SkewContainer>
  </section>
</BaseLayout>
