---
import BaseLayout from '../layout/BaseLayout.astro';
---

<BaseLayout>
  <div>
    <section>
      <div>
        <h1 class='text-white text-5xl'>Hello world</h1>
      </div>
    </section>
  </div>
</BaseLayout>
