---
import { Picture } from 'astro:assets';
import Logo from '../assets/logo.png';
---

<header
  class='fixed top-4 left-1/2 -translate-x-1/2 w-[90%] bg-white/80 rounded-full px-6 container'
>
  <nav class='sm:flex gap-4 sm:gap-10 items-center pb-4 sm:pb-2'>
    <div class=''>
      <a href='/'
        ><Picture src={Logo} alt={'Logo'} height={100} class={'mx-auto'} /></a
      >
    </div>
    <div class='flex justify-center sm:pt-4'>
      <a
        class='uppercase text-[--clr-primary-1] font-extrabold text-xl'
        href='/memorial-lobbies'>Memorial Lobbies</a
      >
    </div>
  </nav>
</header>
