---
import { Picture } from 'astro:assets';
import Home from '../assets/home.png';
import SSR from '../assets/ssr.webp';
---

<header
  class='fixed bottom-4 left-1/2 -translate-x-1/2 w-[90%] bg-[--clr-neutral-1] px-6 container rounded-lg shadow-2xl -skew-x-12'
>
  <nav class='flex gap-4 sm:gap-10 items-center'>
    <div class='skew-x-12'>
      <a href='/'
        ><Picture src={Home} alt={'Logo'} height={100} class={'mx-auto '} /></a
      >
    </div>
    <div class='flex justify-center pt-4 skew-x-12'>
      <a
        class='capitalize text-[--clr-secondary-1] font-extrabold text-center relative py-2'
        href='/lobbies'
      >
        <Picture
          src={SSR}
          alt={'SSR Paper'}
          class={'absolute left-1/2 -translate-x-1/2 -top-[4.5rem]'}
        />
        <p>Memorial Lobbies</p>
      </a>
    </div>
  </nav>
</header>
