---
import { Picture } from 'astro:assets';
import Home from '../assets/home.png';
import SSR from '../assets/ssr.webp';
import Logo from '../assets/logo.png';

const regex = /\/lobbies\/+$|\/lobbies\/[0-9]/;
const lobbyCheck = regex.test(Astro.url.pathname);
---

<header
  class='fixed bottom-4 left-1/2 -translate-x-1/2 w-[90%] bg-[--clr-neutral-1] px-6 container rounded-lg shadow-2xl -skew-x-12 z-50'
>
  <nav
    class={`flex gap-4 sm:gap-10 items-center justify-center lg:justify-start`}
  >
    <div class={`skew-x-12`}>
      <a href='/'
        ><Picture
          src={Home}
          alt={'Logo'}
          height={100}
          loading={'eager'}
          class={`mx-auto ${lobbyCheck && 'hidden'}`}
        /></a
      >
      <a href='/'
        ><Picture
          src={Logo}
          alt={'Logo'}
          height={100}
          loading={'eager'}
          transition:name='logo'
          class={`mx-auto ${!lobbyCheck && 'hidden'}`}
        /></a
      >
    </div>
    <div
      class={`flex justify-center pt-4 skew-x-12 ${lobbyCheck ? 'hidden' : 'block'}`}
    >
      <a
        class='capitalize text-[--clr-secondary-1] font-extrabold text-center relative py-2 group'
        href='/lobbies'
      >
        <Picture
          src={SSR}
          alt={'SSR Paper'}
          class={'absolute left-1/2 -translate-x-1/2 -top-[4.5rem] group-hover:transition-transform group-hover:pb-4 group-hover:-translate-y-2 group-hover:duration-150 transition-transform'}
        />
        <p>Memorial Lobbies</p>
      </a>
    </div>
  </nav>
</header>
