---
import '../globals.css';
import Navbar from '../components/Navbar.astro';
import Bg from '../assets/bg.webp';
import { getImage } from 'astro:assets';

const optimizedBg = await getImage({ src: Bg });

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style={`background-image:url(${optimizedBg.src})`}
    class='relative h-screen bg-center bg-no-repeat bg-overlay'
  >
    <Navbar />
    <slot />
  </body>
</html>
